html {
	font-family: sans-serif;
	font-weight: 400;
}

.title-container {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
}

.title-container img {
	width: 80vw;
}

.title-container a{
	font-size: 1.5rem;
	border-style: solid;
	border-color: white;
	border-width: 1.5px;
	border-radius: 8px;
	z-index: 1;
}

#particles-js {
	position: inherit;
	display: flex;
	width: 100%;
	height: 100%;
}

.granim-wrapper {
    position: relative;
    text-align: center;
    width: 100%;
	height: 100vh;
}

.granim-wrapper canvas {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
	left: 0;
	z-index: -1;
}

nav {
	height: 64px;
	z-index: 1000;
}

@media only screen and (min-width: 992px) {
	nav .brand-logo {
		padding-left: 20px;
	}
}

.social-area img {
	margin: auto 15px;
	width: 3rem;
}

.download-container {
	margin: 20px 0 30px 0;
}

.download-container p {
	font-size: 2.5rem;
	margin: 0;
}

.download-container a {
	font-size: 1rem;
	margin: 20px 0px;
}

.category-header {
	margin-bottom: 0;
	margin-top: 5rem;
}

@media only screen and (max-width: 600px) {
	.category-header {
		font-size: 2rem;
	}
	.social-area img {
		margin: 0px;
		width: 3.5rem;
	}
	.footer-logo {
		width: 80%;
	}
	.download-container p {
		font-size: 1.2rem;
	}
	.about p {
		font-size: 1rem;
	}
	.about h3 {
		font-size: 2rem;
	}
	.about h4 {
		font-size: 1.5rem;
	}
}

table {
	width: 100vw;
}

.social-share {
	margin: 4rem 0;
}

.pr-items {
	display: grid;
	margin: 2rem 0;
	column-gap: 1.75rem;
	row-gap: 1.75rem;
	grid-template-columns: repeat(2, minmax(0, 1fr));
}

@media only screen and (min-width: 601px) {
	.pr-items {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

@media only screen and (min-width: 993px) {
	.pr-items {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}

@media only screen and (min-width: 1201px) {
	.pr-items {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
}

.pr-items__card {
	height: 100%;
	background-color: #eee;
	border-radius: 5px;
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

.pr-items__card:hover {
	-webkit-transform: rotate(2deg);
	transform: rotate(2deg);
}

.pr-items__card .pr-items__card__img {
	width: 100%;
	padding: 10px;
}

.pr-items__card a {
	text-decoration: none;
	color: inherit;
}

.pr-items__card .pr-items__card__text {
	margin: 0;
	padding: 0px 20px 10px 20px;
	text-align: center;
	word-break: break-all;
}